@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
  width: 40vw;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.no-scroll-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
